<body class="body">
    <div class="title-bar">
        <div class="title-string">
            IoT Web Page
        </div>
    </div>
    <div class="pg-body">
        <div class="sub-title">
            Welcome To The IoT WebPage
        </div>
        <img class="IoT-img" src="https://thumbs.dreamstime.com/b/simple-black-iot-thin-line-logo-concept-internet-things-futuristic-digital-world-wi-fi-waves-fintech-contour-flat-130932853.jpg">
        <div class="page-msg">
            This Page will harness the full potential of all your Node API Routes!
        </div>
    </div>  
    <router-outlet></router-outlet>
</body>