.tag-container {
    margin-top: 15px;
    width: 550px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.795);
    border: 1px solid black;
    border-radius: 2px;
    .info-msg {
        width: 300px;
        .info-msg-text {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 20px;
            color: white;
        }
    }
    .info-btns-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 200px;
        .btn {
            width: 125px;
            height: 55px;
            font-size: 20px;
            background-color: rgb(23, 204, 23);
            border: 1px solid black;
            border-radius: 2px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .btn.delete {
            background-color: rgb(211, 35, 35);
        }
        .btn:hover {
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.5);
        }
    }
}
.tag-container:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.349), 0px 2px 4px rgba(0, 0, 0, 0.363);
}