<!-- The tag will be the same as the original home page as we technically aren't changing the actual look or order of things -->
<div class="tag-container">
    <div class="info-msg">
        <div class="info-msg-text">ID : {{account.Id}}</div>
        <div class="info-msg-text">Name : {{account.Name}}</div>
        <div class="info-msg-text">Address : {{account.Address}}</div>
        <div class="info-msg-text">City : {{account.City}}</div>
        <div class="info-msg-text">State : {{account.State}}</div>
        <div class="info-msg-text">Zip : {{account.Zip}}</div>
    </div>
    <div class="info-btns-container">
        <button class="btn delete" (click)="deleteBtn()">Delete Account</button>
        <button class="btn" (click)="updateBtn(account.Id)">Update Info</button>
    </div>
</div>