<div class="form-input">
    <form [formGroup]="formGroup" (ngSubmit)="submitBtn()">
        <div class="form-group">
            <label class="header">Username:</label>
            <div class="backing">
                <input required class="form-control" formControlName="name" [(ngModel)]="acc.Name" name="name" >
            </div>
            <span *ngIf="formGroup.controls.name.hasError('required') && formGroup.touched" class="error">*This field is required*</span>
        </div>
        <div class="form-group">
            <label class="header">Id:</label>
            <div class="backing">
                <input required class="form-control" formControlName="id" [(ngModel)]="acc.Id" name="id">
            </div>
            <span *ngIf="formGroup.controls.id.hasError('required') && formGroup.touched" class="error">*This field is required*</span>
        </div>
        <button type="submit" [disabled]="formGroup.invalid" class="btn">Submit</button>
    </form>
</div>